﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    @if (RushHour.Web.AuthenticationManager.LoggedUser != null)
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users", new {area = ""}, null)</li>
                        <li>@Html.ActionLink("Appointments", "Index", "Appointments", new {area = ""}, null)</li>
                        <li>@Html.ActionLink("Activities", "Index", "Activities", new {area = ""}, null)</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Authentication", new {area = ""}, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Authentication", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Register", "Register", "Authentication", new { area = "" }, null)</li>
                    }

                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @if (TempData.ContainsKey("Errors"))
    {
        <ul class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            @foreach (var error in (IEnumerable<string>
                    )TempData["Errors"])
            {
                <li>@error</li>
            }
        </ul>
    }
    @if (TempData.ContainsKey("Messages"))
    {
        <ul class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            @foreach (var error in (IEnumerable<string>
                        )TempData["Messages"])
            {
                <li>@error</li>
            }
        </ul>
    }
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
